body {
    font-family: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-wrapper {
    background: #f3f4f6;
    padding: 100px 0px;
}

.section-title {
    text-align: center;
}

.section-title h1 {
    font-size: 40px;
    color: #252484;
    font-weight: 700;
    line-height: 50px;
    margin: 0px 0 20px;
}

.section-title p {
    color: #4b5563;
    font-size: 16px;
    line-height: 22px;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
    margin-top: 40px;
}

.cards-grid .card {
    background: white;
    border-radius: 16px;
    padding: 32px 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.cards-grid .card::before {
    position: absolute;
    content: "";
    background: #2524840a;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    top: -80px;
    right: -60px;
}

.cards-grid .card:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}

.cards-grid .icon-wrapper {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.04);
    background: #252484;
}

.cards-grid .icon i {
    color: #fff;
    font-size: 23px;
}

.cards-grid .card-title {
    color: #252484;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 12px;
    font-weight: 600;
    margin-bottom: 12px;
}

.cards-grid .card-description {
    color: #4b5563;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.cards-grid .select-link {
    color: #5b6ef5;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    transition: gap 0.3s ease;
}

.cards-grid .card:hover .select-link {
    gap: 10px;
}

.cards-grid .arrow {
    display: inline-block;
    transition: transform 0.3s ease;
}

@media (max-width: 767px) {
    .section-wrapper {
        padding: 50px 0 30px;
    }
    .section-title h1 {
        font-size: 26px;
        line-height: 34px;
    }
    .section-title p {
        font-size: 14px;
    }
    .cards-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (min-width: 1400px) {
    .section-wrapper .container {
        max-width: 1320px;
    }
}
