body {
    font-family: 'Poppins', sans-serif;
    background-color: #f7f9fc;
}

.credit-card-summary {
    background-color: #ffffff;
    border-radius: 25px;
    max-width: 448px;
    width: 100%;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(220, 220, 220, 0.4);
    padding-bottom: 30px !important;
    display: flex;
    flex-direction: column;
}

.underline-custom {
    height: 3px;
    width: 43px;
    background-color: #7957d5;
    border-radius: 5px;
    margin-top: 5px;
}

.credit-score {
    font-size: 36px !important;
    line-height: 1;
    font-weight: 700 !important;
}

.credit-badge-excellent {
    background-color: #e6f7ee;
    color: #38a169;
    border-radius: 50px;
    font-size: 0.9rem;
    padding: 8px 18px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
}

.details-row {
    padding-top: 25px;
    margin-top: 25px;
    border-top: 1px solid #eee;
}

.score {
    margin-top: 100px !important;
    margin-bottom: 84px !important;
}

.details-row .text-muted {
    font-size: 1rem;
    color: #555 !important;
    font-weight: 500;
}

.details-row .fw-semibold {
    font-weight: 600 !important;
    font-size: 1rem;
}

.credit-icon {
    font-size: 1.2rem;
    color: #888;
    width: 28px;
}

.credit-btn-gradient {
    background-image: linear-gradient(to right, #6a53f0, #5c45e0);
    border: none;
    /* font-weight: 600; */
    border-radius: 10px;
    color: #ffffff;
    box-shadow: 0 8px 20px rgba(106, 83, 240, 0.4);
    width: 180px;
    height: 48px;
    transition: all 0.3s ease;
}

.credit-btn-gradient:hover {
    opacity: 0.95;
    transform: translateY(-1px);
    color: white;
}

.credit-btn-continue {
    background-image: linear-gradient(to right, #45ce7b, #38b567);
    border: none;
    color: #ffffff;
    /* font-weight: 600; */
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(69, 206, 123, 0.4);
    width: 180px;
    height: 48px;
    transition: all 0.3s ease;
}

.credit-btn-continue:hover {
    opacity: 0.95;
    transform: translateY(-1px);
    color: white;
}

@media (max-width: 576px) {
    .d-grid.d-sm-flex {
        display: grid !important;
    }
}
