body {
    font-family: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    background: #252484;
    padding: 100px 0 30px;
}

.footer-top {
    text-align: center;
    margin-bottom: 30px;
}

.logo {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 8px;
    color: #fff;
}

.footer .tagline {
    font-size: 16px;
    color: #d1d5ff;
}

.divider {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin: 20px 0;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    flex-wrap: wrap;
    gap: 15px;
}

.footer-left {
    color: #d1d5ff;
    font-size: 16px;
}

.footer-center a {
    color: #d1d5ff;
    margin: 0 8px;
    font-size: 16px;
    transition: 0.3s;
}

.footer-center a:hover {
    opacity: 0.7;
}

.footer-right a {
    color: #d1d5ff;
    margin-left: 15px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 16px;
}

.footer-right a:hover {
    opacity: 1;
    text-decoration: underline;
}

@media (max-width: 767px) {
    .footer .tagline,
    .footer-left,
    .footer-right a {
        font-size: 14px;
    }
    .footer {
        padding: 50px 0 30px;
    }
}

@media (max-width: 768px) {
    .footer-bottom {
        flex-direction: column;
        text-align: center;
    }

    .footer-right a {
        margin-left: 10px;
        margin-right: 10px;
    }
}
