* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}
.section-padding {
    padding: 100px 0px;
}
.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

.carousel-wrapper {
    background:#252484;
    position: relative;
}

.slides {
    display: flex;
    transition: transform 0.6s ease-in-out;
}

.slide {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 200px 0 100px;
    box-sizing: border-box;
}

.slide-content {
    max-width: 580px;
}

.slide h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    color: #fff;
    margin-bottom: 0px;
}

.slide p {
    margin: 30px 0;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
}

.slide-buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.slide-buttons .btn {
    background: #4f4ea56e;
    color: #fff;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    text-decoration: none;
    font-size: 28px;
    font-weight: 600;
    text-align: justify;
    font-weight: 600;
}

.slide-buttons .btn span {
    display: block;
    font-size: 16px;
    margin-top: 0px;
    color: #f4f4f4;
    font-weight: 400;
}

.carousel-wrapper .swiper-button-prev,
.carousel-wrapper .swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #4f4ea56e;
    border: none;
    font-size: 26px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all 0.5s ease-in-out;
}

.carousel-wrapper .swiper-button-prev {
    left: 15px;
}

.carousel-wrapper .swiper-button-next {
    right: 15px;
}

.carousel-wrapper .swiper-button-prev:after,
.carousel-wrapper .swiper-button-next:after {
    font-size: 20px;
    color: #fff;
}

.carousel-wrapper .swiper-button-prev:hover,
.carousel-wrapper .swiper-button-next:hover {
    background: #fff;
    transition: all 0.5s ease-in-out;
}

.carousel-wrapper .swiper-button-prev:hover:after,
.carousel-wrapper .swiper-button-next:hover:after {
    color: #7675ea;
    transition: all 0.5s ease-in-out;
}

.features-wrapper {
    background: #f4f7ff;
}
.feature-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card-info {
    background: #ffffff;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
    transition: all 0.3s;
}
.card-info:hover {
    box-shadow: 0 12px 36px rgba(0, 0, 0, 0.12);
    transform: translateY(-5px);
    transition: all 0.3s;
}

.card-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.card-info .blue {
    background: #e2f0ff;
    color: #3a8bff;
}

.card-info .green {
    background: #e0f2f1;
    color: #00897b;
}

.card-info .purple {
    background: #f4e7ff;
    color: #a531ff;
}

.card-info h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}

.card-info p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    margin-bottom: 18px;
}

.card-info .card-link {
    text-decoration: none;
    color: #252484;
    font-weight: 600;
    font-size: 14px;
}

.how-it-works {
    background: #ffffff;
    text-align: center;
}

.how-it-works h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #1f2937;
}

.how-it-works .steps .subtitle {
    color: #6b7280;
    margin-bottom: 60px;
}

.how-it-works .steps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px;
}

.how-it-works .steps .step {
    position: relative;
    padding: 20px;
}

.how-it-works .steps .step-number {
    position: absolute;
    top: -10px;
    right: 5%;
    background: #facc15;
    color: #000;
    font-size: 12px;
    font-weight: 700;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.how-it-works .steps .icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 28px;
    transition: all 0.3s;
}

.how-it-works .steps .step:hover .icon{
    transform: translateY(-4px);
    transition: all 0.3s;
}

.how-it-works .steps .icon.blue {
    background: linear-gradient(135deg, #2563eb, #1e40af);
}

.how-it-works .steps .icon.green {
    background: linear-gradient(135deg, #22c55e, #16a34a);
}

.how-it-works .steps .icon.purple {
    background: linear-gradient(135deg, #a855f7, #7e22ce);
}

.how-it-works .steps .step h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #111827;
}

.how-it-works .steps .step p {
    font-size: 16px;
    color: #4b5563;
    line-height: 1.6;
    font-weight: 400;
}

.how-it-works .steps .cta {
    margin-top: 50px;
}

.how-it-works .btn-primary {
    background: #6765e8;
    border: 1px solid #6765e8;
    color: #fff;
    padding: 14px 30px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    transition: 0.3s ease;
    font-size: 16px;
}

.how-it-works .btn-primary:hover {
    background: #fff;
    border: 1px solid #6765e8;
    color: #6765e8;
}

.logo {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 8px;
}

/* Responsive */
@media (max-width: 480px) {
    .slide-buttons .btn {
        font-size: 20px;
        width: 100%;
        margin-bottom: 20px;
    }

    .slide-buttons {
        display: block;
    }
}


@media (max-width: 767px) {
    .slide h1,
    .how-it-works h2 {
        font-size: 22px;
    }

    .slide p {
        font-size: 14px;
        margin: 20px 0;
    }

    .card-info p,
    .how-it-works .steps .step p,
    .how-it-works .subtitle{
        font-size: 14px;
    }

    .carousel-wrapper .swiper-button-prev,
    .carousel-wrapper .swiper-button-next {
        display: none;
    }

    .carousel-wrapper .container {
        padding: 0 20px !important;
    }

    .feature-card {
        grid-template-columns: auto;
    }
    .how-it-works .steps {
        grid-template-columns: 1fr;
    }

    .section-padding {
        padding: 50px 0px;
    }
    .card-info {
        text-align: center;
    }
    .card-icon {
        margin: 0 auto 20px;
    }
}

@media (max-width: 991px) {
    .carousel-wrapper {
        padding-top: 100px;
    }
    .carousel-wrapper .container {
        padding: 0 100px;
    }
    .slide {
        flex-direction: column;
        text-align: center;
        padding: 0px;
    }

    .slide-content {
        max-width: 100%;
    }

    .slide img {
        margin-top: 30px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px !important;
    }
}
