body {
    position: relative;
    overflow: hidden;
    background-color: #f0f3f6;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-circle {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgba(189, 235, 203, 0.4);
    filter: blur(50px);
    opacity: 0.8;
    z-index: -1;
}

.bg-circle-tl {
    top: 5%;
    left: 5%;
}

.bg-circle-tr {
    top: 10%;
    right: 10%;
}

.bg-circle-bl {
    bottom: 5%;
    left: 10%;
}

.bg-circle-br {
    bottom: 5%;
    right: 5%;
}

.custom-card {
    width: 415px;
    height: 370px;
    border: none;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    z-index: 10;
}

.icon-circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #16b47c, #44e797);
    box-shadow: 0 0 0 9px rgba(68, 231, 151, 0.4);
}

.text-muted {
    font-size: 16px;
}

.fw-bold {
    margin-top: 13px;
}

.security-info {
    margin-top: 14px;
}

.custom-icon {
    font-size: 2rem;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #16b47c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-btn {
    background: linear-gradient(90deg, rgba(5, 150, 105, 1), rgba(13, 148, 136, 1));
    border: none;
    color: white;
    font-weight: 600;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    transition: transform 0.2s, box-shadow 0.2s;
}

.security-info .bi-lock-fill {
    color: #44e797;
}

.next-step-text {
    position: absolute;
    bottom: 23%;
    left: 50%;
    transform: translateX(-50%);
    color: #adb5bd;
    font-size: 0.85rem;
}

.bg-circle {
    background: rgba(189, 235, 203, 0.4);
}

.security-info .bi-lock-fill {
    color: #44e797;
}
