
/* --- CARD & LAYOUT --- */
.custom-card-shadow {
    border: none;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08), 0 0 0 1px rgba(0, 0, 0, 0.03);
    background-color: var(--card-bg);
    width: 90%;
    max-width: 512px;
}

.vh-100 {
    min-height: 100vh;
    height: auto;
}

@media (max-width: 575.98px) {
    .card-body {
        padding: 20px;
    }

    .custom-alert-info {
        margin-bottom: 25px !important;
    }

    .security-text {
        margin-top: 30px;
    }
}


@media (min-width: 576px) {
    .card-body {
        padding: 30px;
    }
}


.pan-icon-circle {
    width: 60px;
    height: 60px;
    background-color: rgba(239, 246, 255, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pan-icon-color {
    color: var(--icon-color);
}


.field-label {
    font-size: 15px;
    color: #333;
    margin-bottom: 0.25rem;
    font-weight: 500;
}

.input-group {
    border: 1px solid var(--border-color);
    border-radius: 0.375rem;
    overflow: hidden;
    height: 44px;
}

.field-input {
    background-color: #FFFFFF;
    border: none;
    font-weight: 500;
    color: var(--text-color);
    height: 100%;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.form-control.field-input {
    background-color: rgba(249, 250, 251, 1);
    border-radius: 8px;
}

.bi-credit-card::before {
    content: "\f2dc";
    font-size: 25px;
    color: rgb(37, 99, 235);
    margin-top: 3px;
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    border: none;
    background-color: rgba(249, 250, 251, 1);
}


.custom-alert-info {
    background-color: #EFF6FF;
    color: #1E40AF;
    border: none;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    margin-bottom: 42px !important;
}

.alert-content {
    margin-left: 0.5rem;
}

.alert-content .alert-title {
    font-weight: 600;
    color: #333;
    display: block;
    margin-bottom: 0.1rem;
    color: rgba(30, 58, 138, 1);
}

.alert-content .alert-message {
    line-height: 1.3;
    color: rgba(30, 64, 175, 1);
    font-size: 0.85rem;
}

.custom-alert-info svg {
    color: var(--primary-blue);
    flex-shrink: 0;
    margin-top: 2px;
}

.custom-btn-primary {
    background-color: var(--primary-blue);
    border-color: var(--primary-blue);
    padding: 0.75rem;
    border-radius: 8px;
    font-weight: 600 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-btn-light {
    background-color: rgba(243, 244, 246, 1);
    color: var(--text-color);
    border: 1px solid #EAEAEA;
    padding: 0.75rem;
    border-radius: 8px;
    font-weight: 600 !important;
    justify-content: center;
    align-items: center;
}

.security-text {
    color: var(--success-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    margin-top: 57px;
}

.security-text svg {
    color: var(--success-color);
    margin-right: 5px;
}
