* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.form-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    padding: 20px;
    position: relative;
    background: linear-gradient(to bottom left, #c7e1f8, #f5f5f5);
}

.container {
    display: flex;

    max-width: 1200px;
    width: 100%;
}

.form-container {
    display: flex;
    width: 100%;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
    background-color: #ffffff;
}

.left-section {
    color: #fff;
    padding: 40px;
    background: linear-gradient(180deg, #6765e8 0%, #6765e8 50%, #252484 100%);
    position: relative;
    width: 50%;
}

.left-section::before,
.left-section::after {
    position: absolute;
    content: "";
    top: -15%;
    left: -15%;
    width: 320px;
    height: 320px;
    border-radius: 100%;
    background: #ffffff0a;
    pointer-events: none;
}

.left-section::after {
    right: -15% !important;
    bottom: -15% !important;
    top: auto;
    left: auto;
}

.left-section .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.left-section img {
    margin-bottom: 20px;
}

.left-section h3 {
    font-size: 36px;
    margin: 0;
    color: #fff;
    text-align: center;
    font-weight: 600;
    line-height: normal;
}

.left-section i{
    font-size: 60px;
    margin-bottom: 20px;
}

.left-section p {
    font-size: 18px;
    margin-bottom: 30px;
}

.left-section ul {
    list-style: none;
    padding: 0;
}

.left-section ul li {
    font-size: 16px;
    margin: 10px 0;
}

.form-card {

    padding: 40px;
    background-color: #ffffff;
    width: 50%;
}

.form-card h3 {
 font-size: 30px;
    margin-bottom: 20px;
    color: #111827;
    font-weight: 600;
}

.form-card .form-group {
    margin-bottom: 20px;
    position: relative;
}

.form-card .form-group label {
     font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #374151;
}

.form-card .form-group .form-control{
    border: 1px solid #E5E7EB;
    height: 50px;
    color: #ADAEBC;
        transition: all 0.3s ease;
}

.form-card .form-group .form-control:focus {
    border-color: #6765E8;
    background: white;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(103, 101, 232, 0.15);
}

::placeholder{
    color: #ADAEBC !important;
    text-transform: capitalize;
}

.form-card  .btn-submit {
    width: 100%;
    padding: 15px 20px;
    background-color: #252484;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-card .btn-submit:hover,
.form-card .btn-cancel:hover {
    background-color: #6765e8;
    box-shadow: 0 6px 20px rgba(102, 126, 234, 0.6);
}

.form-card .btn-cancel:hover{
    color: #fff;
}

.form-card .otp-info {
    background-color: #2524840a;
    border: 1px solid #2524840a;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-size: 14px;
    color: #252484;
}

.form-card .otp-info ul{
    margin-bottom: 0px;
}

.form-card .otp-info .icon img {
    width: 20px;
    height: 20px;
    margin-top: 3px;
}

.form-card .signin-text {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #4B5563;
    margin-bottom: 0;
}

.form-card .signin-text a,
.bottom-text a,
.MPIN-link {
    color: #252484;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}

.MPIN-link:hover{
    text-decoration: underline !important;
}

.bottom-text{
    text-align: center;
    margin: 20px 0 0;
    font-size: 14px;
}

.form-card .form-group i.fa-eye{
    position: absolute;
    bottom: 18px;
    right: 10px;
    color: #ADAEBC;
    font-size: 12px;
}

 .form-card .icon-circle {
    background: #E0E7FF;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 28px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
 }

  .form-card .icon-circle i{
    color: #4F46E5;
    font-size: 20px;
  }

 .form-card .mpin-box,
 .form-card .otp-inputs .otp-digit {
    width: 45px;
    height: 45px;
    border-radius: 8px;
    text-align: center;
    font-size: 22px;
    border: 1.5px solid #ccc;
}

.form-card .btn-cancel{
    margin-top: 20px;
    width: 100%;
    padding: 15px 20px;
    background: transparent;
    color: #252484;
    border: 1px solid #252484;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-card .mpin-req-box{
        padding: 20px;
    background: #EEF2FF;
    border-radius: 10px;
    margin: 20px 0;
}

.form-card  .timer-section p{
    font-size: 16px;
    margin-top: 15px;
}

.form-card #timer {
    color: #ff3b3b;
    font-weight: 700;
    font-size: 20px;
}

.form-card #resend {
    color: #2563EB;
    text-decoration: none;
    font-weight: 600;
}

.form-card .change-number {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
}

.form-card .security-note {
    margin-top: 25px;
    background-color: #f6f9ff;
    border: 1px solid #d8e2ff;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 12px;
    color: #555;
}

.form-card  .extra-links{
    margin-top: 20px;
}

.text-danger{
    font-size: 14px;
}

@media (max-width: 767px) {
    .left-section h3,
    .form-card h3 {
        font-size: 20px !important;
    }
    .left-section img{
        height: 40px;
    }
    .form-card .mpin-box,
    .form-card .otp-inputs .otp-digit{
        width: 35px;
        height: 35px;
     }
     .form-card .form-group label,
     .pin-box label{
        font-size: 14px;
     }
     .form-card .btn-submit,
     .form-card .btn-cancel{
        font-size: 14px;
     }
}

@media (max-width: 991px) {
    .form-container{
        display: block;
    }
    .left-section h3{
        font-size: 26px;
    }
    .left-section,
    .form-card{
        padding: 20px;
    }
    .form-container-wrapper{
        padding: 10px;
    }
    .form-card h3 {
    font-size: 24px;
    }
    .left-section::before, .left-section::after{
      display: none;
    }
     .left-section,
    .form-card{
        width: 100%;
    }
    .form-container-wrapper{
        display: block;
    }
}

@media (min-width:1360px){
    .container {
        max-width: 990px !important;
    }
    .login-page-wrapper .container {
        max-width: 800px !important;
    }
}
