.loading-icon-container {
    background-color: #E8F0FF;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 2rem auto;
    position: relative;
}

.loading-icon-container i {
    color: #282789;
    font-size: 1.8rem;
}

.loading-outer-ring {
    position: absolute;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #282789;
    border-right-color:  #282789;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

*,
::after,
::before {
    box-sizing: content-box;
}

.processing-title {
    color: #333333;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0.5rem;
    line-height: 32px;
}

.processing-subtitle {
    color: #333333;
    font-size: 1rem;
    margin-bottom: 23px;
    font-weight: 400;
    margin-left: 62px;
    padding-right: 78px;
}

.progress-bar-container {
    margin-bottom: 0.5rem;
}

.progress {
    height: 8px;
    border-radius: 4px;
    background-color: #dee2e6;
    margin: 0 auto;
    width: 87%;
}

.progress-bar {
    background-color: #0A66FF;
    width: 50%;
    transition: width 0.5s ease;
}

.security-text {
    color: var(--custom-grey-text);
    font-size: 0.85rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: block;
    margin-top: 18px;
}

.security-text i {
    color: #2ecc71;
    margin-right: 0.4rem;
}

.status-box {
    background-color: rgba(239, 246, 255, 1);
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
}

.status-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    font-weight: 500;
}

.status-header span:first-child {
    color: #333333;
    font-weight: 500;
    line-height: 20px;
}

.status-header span:last-child {
    color: #0A66FF;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.processing-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    text-align: left;
}

.processing-list li {
    font-size: 0.95rem;
    color: #333333;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.processing-list li:last-child {
    margin-bottom: 0;
}

.processing-list li::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 1rem;
    flex-shrink: 0;
}

.processing-list li:nth-child(1)::before {
    background-color:#2ecc71;
}

.processing-list li:nth-child(2)::before {
    background-color: #0A66FF;
}

.processing-list li:nth-child(3) {
    color: #707070;
}

.processing-list li:nth-child(3)::before {
    background-color: #dee2e6;
}

.footer-disclaimer {
     margin-top: 2rem;
    font-size: 14px;
    color: #6B7280;
}
