/* Background */
.aadhaar-bg {
    background: #8E9092;
}

/* OTP Card */
.otp-card {
    width: 448px;
    background: #fff;
    border-radius: 16px;
    padding: 25px;
}

/* Icon Circle */
.icon-box {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(99, 102, 241, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

/* OTP Inputs */
.otp-box {
    width: 48px;
    height: 48px;
    border: 1px solid #d7d7d7;
    border-radius: 8px;
    font-size: 18px;
    outline: none;
    transition: 0.2s;
}

.otp-box:focus {
    border-color: #6366f1;
    box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.25);
}

/* Verify Button */
.verify-btn {
    background: #6366f1;
    color: #fff;
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    transition: 0.3s;
}

.verify-btn:hover {
    background: #4f46e5;
}

/* Resend link */
.resend-link {
    font-size: 13px;
    color: #6366f1;
    font-weight: 600;
    pointer-events: none;
    opacity: 0.5;
    text-decoration: none;
}

.resend-link.active {
    pointer-events: auto;
    opacity: 1;
}

.aadhaar-popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

.aadhaar-popup {
    background: #fff;
    border-radius: 16px;
    width: 448px;
    max-width: 90%;
    box-shadow: 0 8px 24px rgba(0,0,0,0.2);
}
/* Common Button Styles */
.button {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
}

/* Upload Aadhaar Button Style */
.upload-aadhaar-btn {
    background-color: rgba(37, 99, 235, 1);
    color: white;
    border: none;
}

.upload-aadhaar-btn:hover {
    background-color: #2563eb;
}

/* Cancel Button Style */
.cancel-btn {
    background-color: #f3f4f6;
    color: #4b5563;
    border: 0px solid #d1d5db;
}

.cancel-btn:hover {
    background-color: #e5e7eb;
    color: #1f2937;
}
