body.verify_otp {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #f5f8ff, #e8f0ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.otp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* .otp-cards {
    width: 448px;
    height: 710px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 40px 30px;
} */

.otp-icon img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}

.otp-title {
    font-size: 22px;
    font-weight: 700;
    color: #111827;
    margin-bottom: 8px;
    font-family: "Poppins", sans-serif;
}

.otp-subtitle {
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

#mobileDisplay{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #2563EB;
}
/* .otp-inputs {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 15px;
} */

/* .otp-digit {
    width: 45px;
    height: 55px;
    text-align: center;
    font-size: 22px;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    outline: none;
    transition: border 0.3s;
} */

.otp-digit:focus {
    border-color: #4b83ff;
}

.timer-section {
    font-size: 14px;
    color: #333;
    margin: 10px 0 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

#timer {
    color: #ff3b3b;
    font-weight: 700;
    font-size: 22px;
    font-family: "Poppins", sans-serif;
}

.btn-primary {
    width: 100%;
    padding: 12px;
    border: none;
    background: linear-gradient(90deg, #4b83ff, #874bff);
    color: #fff;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.3s;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.btn-primary:hover {
    background: linear-gradient(90deg, #3768e5, #6b3be5);
}

.extra-links {
    margin-top: 20px;
    font-size: 13px;
    color: #555;
    font-family: "Poppins", sans-serif;
}

.extra-links a {
    color: #6B7280;
    text-decoration: none;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

#resend {
    color: #2563EB;
    text-decoration: none;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.change-number {
    display: inline-block;
    margin-top: 8px;
    font-size: 14px;
    font-family: 400;
    font-family: "Poppins", sans-serif;
}

.security-note {
    margin-top: 25px;
    background-color: #f6f9ff;
    border: 1px solid #d8e2ff;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 12px;
    color: #555;
}
